<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>

<header class="header">
    <!-- Contenedor del Logo -->
    <div class="logo">
        <h1>ISOPORT</h1>
    </div>

</header>
<body>
    <form action="/../conexion.php" method="post">
        <table>
            <tr>
                <th>
                    <label for="">usuario</label><br>
                    <input type="text" name="username" placeholder=""><br>
                    <label for="">contraseña</label><br>
                    <input type="password" name="password" placeholder=""><br><br>
                    <input type="submit" name="btnLogin" value="Iniciar Sesion">
                </th>
            </tr>
        </table>
    </form>
</body>
</html>